.Divider {
    margin: 24px 0;
    height: 3px;
    background-image: linear-gradient(to right, rgb(134, 134, 134) 50%, transparent 50%);
    background-size: 28px 3px;
    background-repeat: repeat-x;
}

@media all and (max-width: 1240px) {
    .Divider {
        margin: 16px 0;
        height: 2px;
    }
}
