.art-show-item {
    background-color: #0f0f0f;
    border-radius: 20px;
    margin-bottom: 16px;
    overflow: hidden;
    user-select: none;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.art-show-item:hover {
    transform: scale(1.02);
}

.art-show-none {
    height: 200px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(148, 148, 148);
}

.art-show-title {
    font-size: 24px;
    padding: 10px 20px;
    width: 86%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-show-date {
    padding: 0 10px;
    border-radius: 10px;
    transition: all 0.2s;
    color: rgb(223, 223, 223);
    height: 30px;
    background-color: rgb(58, 58, 58);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'car';
}
