/* .standard-page-main-content {
    font-size: 20px;
    color: #fff;
} */

/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
/* 表格 */
.markdownStyle table {
    margin: 20px auto;
    border: 2px solid rgb(120, 120, 120);
    background-color: #0d1117;
    border-spacing: 0; /*去掉单元格间隙*/
    text-align: center;
}
.markdownStyle table th,
.markdownStyle table td {
    padding: 6px 14px;
    border: 1px solid rgb(120, 120, 120);
}
.markdownStyle table th {
    color: rgb(180, 180, 0);
}

/* a链接 */
.markdownStyle a {
    font-weight: 700;
    margin: 0 4px;
    color: rgb(28, 186, 248);
    transition: all 0.2s;
}
.markdownStyle a:hover {
    color: rgb(248, 28, 120);
}

/* h1 h2 h3 h4 h5 h6 p */
.markdownStyle h1,
.markdownStyle h2,
.markdownStyle h3,
.markdownStyle h4,
.markdownStyle h5,
.markdownStyle h6 {
    color: #fff;
    font-weight: 700;
}
/* 行内代码 */
.markdownStyle code {
    color: rgb(241, 241, 151);
    background-color: #5c5c5c;
    font-family: 'yu100';
    padding: 0 6px;
}

/* 图片 */
.markdownStyle p img {
    display: block;
    max-width: 100%;
    margin: 14px auto;
    border-radius: 12px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
    -webkit-user-drag: none;
}

.markdownStyle strong {
    color: rgb(82, 179, 2);
    font-family: 'yu400';
}

.markdownStyle blockquote {
    background-color: #111111;
    padding: 14px 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #ccc;
    border: 2px rgb(105, 105, 105) dashed;
}
.markdownStyle blockquote p {
    margin: 0;
}
/* ———————————————————————————————————————————————————————————— */

@media all and (max-width: 1240px) {
    /* 表格 */
    .markdownStyle table {
        margin: 10px auto;
        border: 1px solid rgb(120, 120, 120);
    }
    .markdownStyle table th,
    .markdownStyle table td {
        padding: 4px 6px;
        border: 1px solid rgb(120, 120, 120);
    }
    /* 图片 */
    .markdownStyle p img {
        margin: 8px auto;
        border-radius: 12px;
    }
    .markdownStyle blockquote {
        padding: 6px 16px;
        font-size: 14px;
        border-radius: 12px;
        border: 1px rgb(105, 105, 105) dashed;
    }
    #hljs code {
        font-size: 12px;
    }
}
