.SiteCard-box {
    background-color: #232324;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.2s;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
}

.SiteCard-box:hover {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.6);
    transform: scale(1.04);
}

.site-data-item {
    height: 36px;
    width: 220px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.site-data-key {
    margin-left: 10px;
}

.site-data-value {
    margin-right: 10px;
}
