.SiteCard-box {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.site-data-item {
    height: 36px;
    width: 220px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.site-data-key {
    margin-left: 10px;
}

.site-data-value {
    margin-right: 10px;
}
