@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.articleTags {
  margin-bottom: calc($space / 2);

  .articleTag {
    display: inline-block;
    margin-right: 10px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: $midRadius;
    user-select: none;
    font-size: 16px;
    background-color: $themeColor1;
    @extend .hover;
  }
}

@media screen and (max-width: 1240px) {
  .articleTags {
    margin-bottom: 7rem;

    .articleTag {
      margin-right: 6rem;
      height: 28rem;
      line-height: 28rem;
      padding: 0 8rem;
      border-radius: 8rem;
      font-size: 14rem;
    }
  }
}
