@import '../../../../styles/base.scss';
@import '../../../../styles/style.scss';

.itemBoxBase {
  height: 40px;
  width: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 20px;
  user-select: none;
}

.adminBox {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: $themeColor1;
  border-radius: 14px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .trans;

  .itemBox {
    @extend .itemBoxBase;

    .adminKey {
      height: 100%;
      width: 70px;
      background-color: $themeColor2;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $textColor;
      @extend .hover;
    }
    .adminValue {
      width: 250px;
      padding: 0 20px;
      background-color: $themeColor;
    }
  }

  .adminBtns {
    @extend .itemBoxBase;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;

    .adminBtn {
      width: 80px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $themeColor2;
      color: $textColor;
      border-radius: 20px;
      @extend .hover;
    }
  }
}

@media screen and (max-width: 1240px) {
  .itemBoxBase {
    height: 30rem;
    width: 280rem;
    border-radius: 10rem;
    margin-bottom: 16rem;
    font-size: 16rem;
  }

  .adminBox {
    border-radius: 8rem;

    .itemBox {
      .adminKey {
        width: 60rem;
      }
      .adminValue {
        width: 220rem;
        padding: 0 10rem;
      }
    }

    .adminBtns {
      margin-bottom: 0;
      .adminBtn {
        width: 60rem;
        height: 30rem;
        border-radius: 10rem;
      }
    }
  }
}
