.Article-box {
    color: #fff;
}

.standard-page-title {
    width: 1100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.turn-back-btn {
    position: fixed;
    top: 100px;
    left: 40px;
    width: 50px;
    height: 50px;
    background-color: #232324;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    transition: all 0.2s;
    user-select: none;
}
.turn-back-btn:hover {
    background-color: rgb(180, 180, 0);
    color: rgb(88, 88, 88);
}

/* .standard-page-body {
    display: flex;
} */

.standard-page-box {
    width: 1100px;
    background-color: #232324;
    border-radius: 20px;
    padding: 40px;
}

.article-title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'FiraCode', 'yu400';
}

.article-class,
.article-date {
    display: inline-block;
    font-size: 18px;
    background-color: #232324;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    margin-right: 20px;
    border-radius: 14px;
    user-select: none;
    transition: all 0.2s;
}

.article-class:hover,
.article-date:hover {
    background-color: rgb(180, 180, 0);
    color: rgb(88, 88, 88);
}
