@import '../../styles/style.scss';
@import '../../styles/base.scss';

.imgBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 1240px) {
  .imgBox {
    justify-content: space-between;
  }
}
