/* ———————以下自己再添加的——————— */
html,
body,
#root {
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}
body {
  /* 隐藏x轴导航条 */
  overflow-x: hidden;
  background-color: rgb(35, 35, 44);
}
body::-webkit-scrollbar {
  display: none;
}

div,
input {
  box-sizing: border-box;
}

input,
textarea {
  background: none;
  outline: none;
  border: none;
  border-radius: 0;
}

img {
  -webkit-user-drag: none;
}
