@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

$title-level-margin: 24px;

.markdown-navigation.postNavBar {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  width: 320px;
  border-radius: 20px;
  user-select: none;
  padding: 10px;
  max-height: 700px;
  overflow-y: auto;
  margin: 10px;

  .title-anchor {
    padding: 4px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    word-break: break-all;
    background-color: $themeColor1;
    border-radius: 8px;
    @extend .hover;
  }
  .title-anchor:last-child {
    margin-bottom: 0;
  }

  .title-level2 {
    margin-left: $title-level-margin * 1;
  }

  .title-level3 {
    margin-left: $title-level-margin * 2;
  }

  .title-level4 {
    margin-left: $title-level-margin * 3;
  }

  .title-level5 {
    margin-left: $title-level-margin * 4;
  }

  .active {
    background-color: $hoverColor;
  }
}

/* 设置滚动条的样式 */
.markdown-navigation.postNavBar::-webkit-scrollbar {
  width: 12px;
}
/* 滚动槽 */
.markdown-navigation.postNavBar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.markdown-navigation.postNavBar::-webkit-scrollbar-thumb {
  /* 副色2 */
  background-color: $themeColor2;
  border-radius: 6px;
}
.markdown-navigation.postNavBar::-webkit-scrollbar-thumb:hover {
  background-color: $hoverColor;
}

.ant-drawer-header-close-only {
  display: none;
}

.ant-drawer-content {
  background-color: $themeColor;
  color: $textColor;
  font-family: 'dengxian';
  font-size: 18px;
}
