@import '../../../../../styles/base.scss';
@import '../../../../../styles/style.scss';

.emoji {
  display: inline-block;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  @extend .hover;
}
