@import '../../styles/base.scss';

.loadingBar {
  background-color: $themeColor1;
  border-radius: 20px;
  margin-bottom: 16px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  .placeHolder {
    background-color: $themeColor2;
    height: 16px;
    width: 70%;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1240px) {
  .loadingBar {
    border-radius: 10rem;
    margin-bottom: 10rem;
    padding: 0 10rem;
    font-size: 18rem;
    height: 40rem;

    .placeHolder {
      height: 14rem;
      width: 70%;
      border-radius: 4rem;
    }
  }
}
