.turn-back-btn {
    position: fixed;
    top: 100px;
    left: 40px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: rgba(35, 35, 36, 0.6);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    user-select: none;
    cursor: pointer;
    z-index: 99;
}

.pics-group {
    width: 100%;
    height: 100%;
    display: flex;
}

.one-gallery-page-box {
    /* padding: 10px; */
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    /* width: 1300px; */
    width: 1200px;
}

.one-gallery-page-box .ant-image {
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: all 0.2s;
}
.one-gallery-page-box .ant-image:hover {
    transform: scale(1.04);
}

.one-gallery-page-box .ant-image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.ant-image-preview-switch-left svg,
.ant-image-preview-switch-right svg {
    width: 50px !important;
    height: 50px !important;
}

@media all and (max-width: 1240px) {
    .one-gallery-page-box {
        width: 100%;
    }
    .ant-image-preview-switch-left svg,
    .ant-image-preview-switch-right svg {
        width: 30px !important;
        height: 30px !important;
    }
    .ant-image {
        width: 90% !important;
        max-width: 200px;
    }
    .turn-back-btn {
        display: none;
    }
    .one-gallery-page-box {
        padding: 20px 10px 0 10px;
    }
}
