.standard-page-tags {
    margin-top: 60px;
}

.tag {
    display: inline-block;
    margin: 0 10px 10px 0;
    height: 36px;
    line-height: 36px;
    background-color: #0d1117;
    padding: 0 10px;
    border-radius: 12px;
    user-select: none;
    font-size: 16px;
    cursor: pointer;
}

@media all and (max-width: 1240px) {
    .standard-page-tags {
        margin-top: 30px;
    }

    .tag {
        margin: 0 5px 5px 0;
        height: 26px;
        line-height: 26px;
        padding: 0 8px;
        border-radius: 10px;
        font-size: 12px;
    }
}
