@import '../../styles/base.scss';

.box {
  color: $textColor;
  height: $topTitleHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  width: $layoutWidth;
  margin: 0 auto;

  .title {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 4px 4px 10px $footerBg;
  }

  .desc {
    font-size: 28px;
  }
}

@media screen and (max-width: 1240px) {
  .box {
    width: 100vw;

    .title {
      font-size: 40rem;
      text-shadow: 4rem 4rem 10rem $footerBg;
    }

    .desc {
      font-size: 22rem;
    }
  }
}
