@import '../../styles/base.scss';

.box {
  color: $textColor;
  height: $topTitleHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  width: $layoutWidth;
  margin: 0 auto;

  .title {
    font-size: 56px;
    font-weight: 700;
  }

  .desc {
    font-size: 28px;
  }
}
