div {
    padding: 0;
    margin: 0;
}

/* li {
    list-style: none;
} */

/* body {
    overflow-y: overlay;
} */
body::-webkit-scrollbar {
    display: none;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow-y: overlay;
    width: 100% !important;
}

input {
    background: none;
    outline: none;
    border: 0px;
    border-radius: 0;
}

div,
input {
    box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

html {
    background-color: #0b0a06;
}

.common-hover {
    transition: all 0.2s;
}
.common-hover:hover {
    background-color: rgb(180, 180, 0);
    color: rgb(88, 88, 88);
}

/* 主色 */
.theme-color {
    background-color: rgba(35, 35, 44, 1);
}
/* 副色1 */
.theme-color-1 {
    background-color: rgb(19, 19, 26);
}
/* 副色2 */
.theme-color-2 {
    background-color: rgb(69, 69, 88);
    /* background-color: rgb(83, 88, 69); */
}

/* ————————————————————字体—————————————————————— */
@font-face {
    font-family: 'FiraCode';
    src: url(./FiraCode-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yu100';
    src: url(./yu100.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yu400';
    src: url(./yu400.ttf);
    font-weight: normal;
    font-style: normal;
}
