@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.imgItem {
  width: 47.83%;
  height: 360px;
  border-radius: 20px;
  margin-bottom: $space + 10px;
  background: no-repeat 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textColor;
  font-size: 100px;
  cursor: pointer;
  @extend .trans;
}

.imgItem:nth-last-child(1),
.imgItem:nth-last-child(2) {
  margin-bottom: 0;
}

.imgItem:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 1240px) {
  .imgItem {
    width: 48.81%;
    height: 160rem;
    margin-bottom: 10rem;
    border-radius: 10rem;
  }
}
