@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.imgItem {
  overflow: hidden;
  position: relative;
  list-style: none;
  margin-bottom: $space + 10px;
  width: 400px;
  height: 300px;
  color: #fff;
  background-size: cover;
  border-radius: 20px;
  user-select: none;
  @extend .trans;
  cursor: pointer;

  .title {
    box-sizing: content-box;
    position: relative;
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto;
    height: 90px;
    width: 330px;
    @extend .trans;
    z-index: 9;
    border-bottom: 4px solid rgba(255, 255, 255, 0);

    span {
      position: absolute;
      bottom: 0;
      z-index: 9;
    }
  }

  .descr {
    position: absolute;
    z-index: 9;
    left: 40px;
    top: 100px;
    width: 320px;
    font-size: 24px;
    transition: all 0.2s;
    word-wrap: break-word;
    opacity: 0;
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.imgItem:hover {
  transform: scale(1.04);
}
.imgItem:hover .title {
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}
.imgItem:hover .descr {
  opacity: 1;
}
.imgItem:hover .mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.imgItem:nth-last-child(1),
.imgItem:nth-last-child(2) {
  margin-bottom: 0;
}
