/* .Home-box { */
/* display: flex; */
/* } */

.home-body {
    display: flex;
}

.home-main {
    /* width: 1000px; */
    width: 900px;
    min-height: calc(100vh - 60px - 120px);
}

.home-aside {
    width: 300px;
    color: #fff;
}

.home-top-img {
    height: 600px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.home-top-title {
    font-size: 56px;
    font-family: 'yu400';
    font-weight: 700;
}

.home-top-poem {
    font-size: 28px;
    font-family: 'yu100';
}
