/* .Home-box { */
/* display: flex; */
/* } */

.home-body {
    display: flex;
}

.home-main {
    /* flex: 1; */
    width: 100%;
    min-height: calc(100vh - 60px - 120px);
    padding-right: 20px;
}

.home-aside {
    width: 260px;
    color: #fff;
}

.home-top-img {
    height: 660px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.home-top-title {
    font-size: 56px;
    font-family: 'yu400';
    font-weight: 700;
}

.home-top-poem {
    font-size: 28px;
    font-family: 'yu100';
}

@media all and (max-width: 1240px) {
    .home-top-img {
        height: 400px;
    }
    .home-top-title {
        font-size: 28px;
    }
    .home-top-poem {
        font-size: 20px;
    }
    .home-aside {
        display: none;
    }
    .home-main {
        /* padding-left: 20px; */
        padding-right: 0;
    }
}
