.time-line-item {
    position: relative;
    border-left: 6px solid rgb(110, 110, 110);
}

.time-dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: 14px;
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-dot-in {
    width: 14px;
    height: 14px;
    background-color: rgb(156, 156, 156);
    border-radius: 50%;
    transition: all 0.2s;
}

.time-line-time {
    height: 58px;
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 28px;
    user-select: none;
    color: #ccc;
    transition: all 0.2s;
}
.time-line-time:hover {
    color: rgb(180, 180, 0);
}
.time-line-time:hover .time-dot-in {
    width: 22px;
    height: 22px;
    background-color: rgb(180, 180, 0);
}
.time-line-content {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 16px;
    border-radius: 14px;
    padding: 10px 20px;
    transition: all 0.2s;
}
.time-line-content:hover {
    transform: scale(1.02);
}

.time-line-content li {
    margin-bottom: 6px;
}
.time-line-content li:last-child {
    margin-bottom: 0;
}

@media all and (max-width: 1240px) {
    .time-line-time {
        height: 36px;
        width: 130px;
        padding-left: 12px;
        font-size: 18px;
    }
    .time-line-content {
        border-radius: 10px;
        font-size: 14px;
        margin: 0 10px;
        padding: 8px 14px;
    }
    .time-dot {
        width: 20px;
        height: 20px;
        left: -13px;
        top: 8px;
    }
    .time-dot-in {
        width: 10px;
        height: 10px;
    }
    .time-line-time:hover .time-dot-in {
        width: 14px;
        height: 14px;
    }
}
