@import '../../styles/base.scss';
@import '../../styles/style.scss';

.articleInfo {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
  line-height: 40px;
  margin-right: $space;
  border-radius: 14px;
  user-select: none;
  background-color: $themeColor;
  @extend .hover;
}

.postTitle {
  align-items: flex-start;
  user-select: text;

  .articleClass {
    @extend .articleInfo;
  }
  .articleDate {
    @extend .articleInfo;
  }
}

.layoutCard {
  margin: auto;
  width: $layoutWidth;
  padding: 2 * $space;
  font-size: 20px;
  line-height: 1.6em;
  user-select: text;
  word-break: break-all;
}

@media screen and (max-width: 1240px) {
  .articleInfo {
    font-size: 16rem;
    padding: 0 8rem;
    line-height: 30rem;
    margin-right: 10rem;
    border-radius: 10rem;
  }

  .postTitle {
    padding: 0 10rem;
    align-items: center;
  }

  .layoutCard {
    width: 100vw;
    padding: 15rem;
    font-size: 18rem;
    line-height: 1.5em;
  }
}
