.aside-box {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    width: 320px;
    border-radius: 20px;
}
.aside-ul {
    user-select: none;
    padding: 14px;
    max-height: 700px;
    overflow-y: auto;
    margin: 10px;
}
/* 设置滚动条的样式 */
.aside-ul::-webkit-scrollbar {
    width: 12px;
}
/* 滚动槽 */
.aside-ul::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.aside-ul::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 6px;
}

.aside-ul li {
    /* background-color: #fff; */
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.tocPadding24 {
    padding-left: 24px;
}
.tocPadding48 {
    padding-left: 48px;
}
.tocPadding72 {
    padding-left: 72px;
}

.aside-ul li:last-child {
    margin-bottom: 0;
}

.tocLink {
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    /* background-color: #232324; */
    /* background-color: rgba(35, 35, 36, 0.6); */
    color: rgb(235, 235, 235);
    cursor: default;
    transition: all 0.2s;
}

.aside-fixed {
    top: 70px;
}

@media all and (max-width: 1240px) {
    .aside-box {
        display: none;
    }
}
