.tags-box {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tags-item {
    font-size: 22px;
    padding: 0 14px;
    margin: 10px 0;
}
