.TagCard-box {
    background-color: #232324;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.2s;
    user-select: none;
    padding: 12px;
}

.TagCard-box:hover {
    transform: scale(1.04);
}

.theTag {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    user-select: none;
    transition: all 0.2s;
    color: #fff;
    border-radius: 12px;
}
.theTag:hover {
    font-weight: 700;
}
