.TagCard-box {
    padding: 12px;
}

.theTag {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    user-select: none;
    transition: all 0.2s;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}
