.Copyright-box {
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 14px;
    overflow: hidden;
    color: #ccc;
}
.copyright-icon {
    position: absolute;
    right: 40px;
    width: 128px;
    height: 128px;
    top: 50%;
    transform: translate(0, -50%);
}
.copyright-icon path {
    fill: rgb(88, 88, 88);
}

.copyright-title {
    font-size: 20px;
    font-family: 'yu400';
}

.copyright-url {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #ccc;
}

.copy-icon-btn {
    position: absolute;
    top: 0;
    right: -30px;
    height: 24px;
    display: inline-block;
    width: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}
.copy-icon {
    width: 16px;
    height: 16px;
}
.copy-icon path {
    fill: #fff;
    transition: all 0.2s;
}
.copy-icon-btn:hover .copy-icon path {
    fill: rgb(88, 88, 88);
}
.copyright-text {
    font-size: 16px;
}
.copyright-name {
    display: inline-block;
    padding: 0 4px;
    height: 24px;
    line-height: 24px;
    font-family: 'yu400';
    transition: all 0.2s;
    border-radius: 8px;
    color: #fff;
}

.copyed-success {
    position: fixed;
    left: 10px;
    bottom: -50px;
    width: 200px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 14px;
    font-size: 16px;
    user-select: none;
    transition: all 0.2s;
}

.show-copyed-success {
    bottom: 10px;
}

@media all and (max-width: 1240px) {
    .Copyright-box {
        border-radius: 12px;
        padding: 8px;
    }
    .copyright-icon {
        display: none;
    }

    .copyright-title {
        font-size: 14px;
    }

    .copyright-url {
        font-size: 12px;
    }

    .copy-icon-btn {
        right: -20px;
        height: 18px;
        width: 18px;
        border-radius: 6px;
    }
    .copy-icon {
        width: 12px;
        height: 12px;
    }
    .copyright-text {
        font-size: 12px;
    }
    .copyright-name {
        padding: 0 2px;
        border-radius: 6px;
    }

    .copyed-success {
        left: 4px;
        bottom: -50px;
        width: 120px;
        height: 36px;
        border-radius: 8px;
        font-size: 14px;
    }

    .show-copyed-success {
        bottom: 4px;
    }
}
