@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.flex3 {
  flex: 3;
}
.flex2 {
  flex: 2;
}

.editBox {
  margin: 10px 0 20px 0;

  .replyNameBox {
    font-size: 18px;

    span {
      color: $textColor2;
      font-weight: 700;
    }
  }

  .flex {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 4px;

    .avatarBoxCol {
      width: 80px;

      .avatarBox {
        width: 70px;
        height: 70px;
        border-radius: 14px;
        overflow: hidden;
        background-color: $themeColor1;
        display: flex;
        justify-content: center;
        align-items: center;

        .editAvatar {
          width: 100%;
          height: 100%;
        }
        .noAvatar {
          font-size: 40px;
          color: $themeColor2;
        }
      }
    }
    .editInputBox {
      width: calc(100% - 80px);

      .inputBox {
        height: 46px;
        display: flex;

        .inputInfo {
          height: 36px;
          margin-right: 10px;
          display: flex;
          border-radius: 14px;
          overflow: hidden;
          background-color: $themeColor1;

          .inputKey {
            width: 80px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            font-size: 18px;
            background-color: $themeColor2;
            @extend .hover;
          }
          .inputValue {
            height: 100%;
            width: 100%;
            padding: 0 10px;
            font-size: 16px;
            text-align: center;
          }
        }
        .inputInfo:last-child {
          margin-right: 0;
        }
      }

      .textareaBox {
        height: 140px;
        padding: 8px 16px;
        border-radius: 14px;
        background-color: $themeColor1;

        .textarea {
          font-size: 18px;
          resize: none;
          width: 100%;
          height: 100%;
          cursor: default;
        }

        /* 设置滚动条的样式 */
        .textarea::-webkit-scrollbar {
          width: 8px;
        }
        /* 滚动槽 */
        .textarea::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0);
        }
        /* 滚动条滑块 */
        .textarea::-webkit-scrollbar-thumb {
          background-color: $themeColor2;
          border-radius: 4px;
        }
        .textarea::-webkit-scrollbar-thumb:hover {
          background-color: $hoverColor;
          // cursor: default !important;
        }
      }

      .commentBtns {
        position: relative;
        height: 46px;

        .cancelBtn {
          @extend .btnBase;
          right: ($btnWidth + 10px) * 2;
        }

        .previewBtn {
          @extend .btnBase;
          right: $btnWidth + 10px;
        }
        .sendBtn {
          @extend .btnBase;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .editBox {
    margin: 10rem 0 20rem 0;

    .replyNameBox {
      font-size: 14rem;
    }

    .flex {
      .avatarBoxCol {
        width: 45rem;

        .avatarBox {
          width: 40rem;
          height: 40rem;
          border-radius: 10rem;

          .noAvatar {
            font-size: 26rem;
          }
        }
      }
      .editInputBox {
        width: calc(100% - 45rem);

        .inputBox {
          height: 32rem;

          .inputInfo {
            height: 26rem;
            margin-right: 4rem;
            border-radius: 8rem;

            .inputKey {
              width: 60rem;
              font-size: 13rem;
            }
            .inputValue {
              padding: 0 2rem;
              font-size: 12rem;
            }
          }
        }

        .textareaBox {
          height: 100rem;
          padding: 2rem 8rem;
          border-radius: 10rem;

          .textarea {
            font-size: 13rem;
          }

          .textarea::-webkit-scrollbar {
            width: 6rem;
          }
          .textarea::-webkit-scrollbar-thumb {
            border-radius: 3rem;
          }
        }

        .commentBtns {
          height: 32rem;

          .cancelBtn {
            font-size: 13rem;
            width: 44rem;
            height: 26rem;
            border-radius: 8rem;
            right: (44rem + 6rem) * 2;
          }

          .previewBtn {
            font-size: 13rem;
            width: 44rem;
            height: 26rem;
            border-radius: 8rem;
            right: 44rem + 6rem;
          }
          .sendBtn {
            font-size: 13rem;
            width: 44rem;
            height: 26rem;
            border-radius: 8rem;
            right: 0;
          }
        }
      }
    }
  }
}
