.standard-page-title {
    width: 1000px;
    margin: 0 auto;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: #fff;
}
.turn-back-btn {
    position: fixed;
    top: 100px;
    left: 40px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #232324;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    transition: all 0.2s;
    user-select: none;
}

.standard-page-box {
    width: 1000px;
    margin: 0 auto;
    /* background-color: #232324; */
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgba(35, 35, 36, 0.6) !important;
    border-radius: 20px;
    padding: 40px;
    font-size: 20px;
    color: #fff;
}

.article-title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'FiraCode', 'yu400';
}

.article-class,
.article-date {
    display: inline-block;
    font-size: 18px;
    background-color: #232324;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    margin-right: 20px;
    border-radius: 14px;
    user-select: none;
    transition: all 0.2s;
}
