.standard-page-title {
    width: 1000px;
    margin: 0 auto;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: #fff;
}

.standard-page-box {
    width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px;
    font-size: 20px;
    color: #fff;
}

.article-title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'FiraCode', 'yu400';
    color: #fff;
}

.article-class {
    cursor: pointer;
}

.article-class,
.article-date {
    display: inline-block;
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    margin-right: 20px;
    border-radius: 14px;
    user-select: none;
    transition: all 0.2s;
}

@media all and (max-width: 1240px) {
    .standard-page-box {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    .standard-page-title {
        width: 100%;
        height: 280px;
        padding: 0 20px;
    }

    .article-title {
        font-size: 26px;
    }
    .article-class,
    .article-date {
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        margin-right: 20px;
        border-radius: 10px;
        margin-top: 10px;
    }
}
