.comment-edit-box {
    /* height: 270px; */
    /* background-color: rgb(77, 76, 76); */
    display: flex;
    /* border-bottom: 4px solid #ccc; */
    margin-top: 10px;
}

.comment-edit-avatar-box {
    width: 80px;
}

.comment-edit-input-box {
    flex: 1;
}

.comment-edit-avatar {
    width: 70px;
    height: 70px;
    border-radius: 14px;
    -webkit-user-drag: none;
    background-color: rgb(105, 105, 105);
    transition: all 0.2s;
}

.comment-input-box {
    height: 46px;
    display: flex;
}

.comment-input-info {
    height: 36px;
    background-color: #0f0f0f;
    margin-right: 10px;
    display: flex;
    border-radius: 14px;
    overflow: hidden;
}
.comment-input-info:last-child {
    margin-right: 0;
}
.flex3 {
    flex: 3;
}
.flex2 {
    flex: 2;
}
.comment-input-key {
    width: 80px;
    height: 100%;
    background-color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 18px;
}
.comment-input-value {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    text-align: center;
}

.comment-textarea-box {
    height: 140px;
    padding: 8px 16px;
    background-color: #0f0f0f;
    border-radius: 14px;
}
.comment-textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #0f0f0f;
}
/* 设置滚动条的样式 */
.comment-textarea::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.comment-textarea::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.comment-textarea::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 4px;
}

.comment-btns {
    position: relative;
    height: 46px;
    margin-left: 20px;
}

.comment-preview-btn,
.comment-send-btn,
.comment-cancel-btn {
    position: absolute;
    width: 70px;
    height: 36px;
    background-color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    bottom: 0;
    border-radius: 14px;
    font-size: 18px;
}

.comment-cancel-btn {
    right: 160px;
}
.comment-send-btn {
    right: 0;
}
.comment-preview-btn {
    right: 80px;
}

/* 预览对话框 */
.preview-box {
    position: fixed;
    height: 180px;
    width: 600px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    z-index: 100;
}
.preview-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
/* 设置滚动条的样式 */
.preview-content::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.preview-content::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.preview-content::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    border-radius: 4px;
}
.preview-in {
    left: 50%;
}
.preview-out {
    left: -400px;
}

.close-preview-btn {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, 0);
    width: 70px;
    height: 40px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 14px;
    margin: 0 auto;
}

.comment-mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 99;
}

.comment-mask-none {
    display: none;
}

.comment-show-item {
    display: flex;
    margin-top: 20px;
    position: relative;
}

.comment-show-avatar-box {
    width: 80px;
}
.comment-show-avatar-box a {
    cursor: default;
}

.comment-show-content-box {
    flex: 1;
}

.comment-show-usrInfo {
    height: 34px;
    /* background-color: rgb(148, 134, 134); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}
.comment-show-name {
    color: rgb(180, 180, 0);
    cursor: default;
    padding: 0 10px;
    border-radius: 10px;
}

.comment-show-date {
    margin-left: 10px;
    font-size: 16px;
    font-family: 'car';
}
.comment-show-content {
    background-color: rgb(58, 58, 58);
    padding: 10px 16px;
    border-radius: 12px;
    font-size: 18px;
}
.comment-show-content p {
    margin: 0;
    padding: 0;
}
.comment-show-content ul {
    /* list-style: none; */
    margin: 0;
    padding: 0;
}
.comment-show-content li {
    margin-left: 20px;
}

.comment-show-reply {
    position: absolute;
    top: 6px;
    right: 0;
    /* background-color: rgb(82, 67, 67); */
    height: 28px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
}

/* 回复框 */
.comment-reply-box {
    position: fixed;
    /* height: 300px; */
    width: 1000px;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    transform: translate(50%, -50%);
    transition: all 0.4s;
    z-index: 98;
}
.reply-in {
    right: 50%;
}
.reply-out {
    right: -1600px;
}

.reply-mask {
    z-index: 97;
}

/* 代码块 */
.commentMarkDown #hljs {
    padding: 4px 10px;
    border-radius: 10px;
    margin: 0;
}
