@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.item {
  position: relative;
  border-left: 6px solid $themeColor1;

  .time {
    position: relative;
    height: 58px;
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: $space;
    font-size: 28px;
    user-select: none;
    color: $textColor;
    @extend .trans;

    .dot {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translate(0, -50%);
      background-color: $themeColor1;
      display: flex;
      justify-content: center;
      align-items: center;

      .dotIn {
        width: 14px;
        height: 14px;
        background-color: $hoverColor;
        border-radius: 50%;
        @extend .trans;
      }
    }
  }
  .time:hover .dotIn {
    width: 22px;
    height: 22px;
  }
  .content {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 16px;
    border-radius: 14px;
    padding: 10px $space;
    background-color: $themeColor1;
    @extend .trans;

    .timeLi {
      margin-bottom: 6px;
    }
    .timeLi:last-child {
      margin-bottom: 0;
    }
  }
  .content:hover {
    transform: scale(1.02);
  }
}

@media screen and (max-width: 1240px) {
  .item {
    border-left: 5rem solid $themeColor1;

    .time {
      height: 40rem;
      width: 140rem;
      padding-left: 16rem;
      font-size: 20rem;

      .dot {
        width: 24rem;
        height: 24rem;
        left: -14.5rem;

        .dotIn {
          width: 10rem;
          height: 10rem;
        }
      }
    }
    .time:hover .dotIn {
      width: 16rem;
      height: 16rem;
    }
    .content {
      margin: 0 10rem;
      border-radius: 12rem;
      padding: 6rem 12rem;
      font-size: 16rem;

      .timeLi {
        margin-bottom: 2rem;
      }
    }
  }
}
