@import '../../styles/base.scss';
@import '../../styles/style.scss';

.marked {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 15px;
    color: $textColor;
    font-weight: 700;
  }
  p {
    margin-bottom: 20px;
  }

  strong {
    color: $hoverColor;
  }
  code {
    background-color: $inlineCode;
    font-family: 'dengxian';
    padding: 3px 8px;
    border-radius: 8px;
    margin: 0 2px;
  }

  p img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 12px;
  }

  blockquote {
    background-color: $themeColor1;
    padding: 14px 40px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px $hoverColor dashed;
  }
  blockquote p {
    margin: 0;
  }

  table {
    margin: 20px auto;
    border: 2px solid rgb(120, 120, 120);
    background-color: $themeColor1;
    border-spacing: 0; /*去掉单元格间隙*/
    text-align: center;
  }
  table th,
  table td {
    padding: 6px 14px;
    border: 1px solid rgb(120, 120, 120);
  }

  a {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 4px;
    color: $hoverColor;
    @extend .trans;
  }
  a:hover {
    color: red;
  }

  hr {
    margin: 20px 0;
  }
}
