.msg-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'yu400';
    user-select: none;
}

.my-link {
    font-size: 26px;
    font-weight: 700;
}

.green {
    color: rgb(180, 180, 0);
}

.link-key {
    color: rgb(178, 178, 250);
    font-size: 22px;
}
.link-value {
    color: rgb(241, 241, 151);
    /* background-color: #3f3f3f; */
    padding: 0 6px;
    margin-left: 6px;
    font-family: 'yu100';
    font-size: 20px;
}

@media all and (max-width: 1240px) {
    .msg-info {
        font-size: 16px;
    }
    .site-link {
        display: none;
    }
}
