.Content-box {
    min-height: calc(100vh - 60px - 120px);
    margin-bottom: 40px;
}

.content-center {
    min-height: calc(100vh - 60px - 120px);
    /* width: 1300px; */
    width: 1200px;
    margin: auto;
}

@media all and (max-width: 1240px) {
    .content-center {
        width: 100%;
        padding: 0 20px;
    }
}
