@import './../../../../styles/base.scss';
@import './../../../../styles/style.scss';

.emoji2 {
  left: 46px;
}
.emoji3 {
  left: 92px;
}
.emoji4 {
  left: 138px;
}

.emojiBtn {
  position: absolute;
  width: 36px;
  height: 36px;
  bottom: 0;
  border-radius: $midRadius;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  background-color: $themeColor1;
  @extend .hover;
}

.emojiContent {
  width: 368px;
  word-break: break-all;
  font-size: 20px;
}

@media screen and (max-width: 1240px) {
  .emoji2 {
    left: 32rem;
  }
  .emoji3 {
    left: 64rem;
  }
  .emoji4 {
    left: 96rem;
  }

  .emojiBtn {
    width: 26rem;
    height: 26rem;
    border-radius: 8rem;
    font-size: 12rem;
  }

  .emojiContent {
    width: 284rem;
    font-size: 14rem;
  }
}
