/* OwO表情框 */
.OwO-body {
    background-color: #0d1117 !important;
    border-radius: 14px !important;
    cursor: default !important;
    border: none !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden !important;
    top: 40px !important;
}
.OwO-item {
    font-size: 22px !important;
    padding: 0 6px !important;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 6px !important;
    margin: 0 10px 10px 0 !important;
    cursor: default !important;
    transition: all 0.2s !important;
}

.OwO-items-show {
    cursor: default !important;
    margin: 6px !important;
}
/* 设置滚动条的样式 */
.OwO-items-show::-webkit-scrollbar {
    width: 6px;
}
/* 滚动槽 */
.OwO-items-show::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
.OwO-items-show::-webkit-scrollbar-thumb {
    background: #313f55;
    border-radius: 3px;
}

.OwO-item img {
    width: 30px !important;
    height: 30px !important;
    cursor: default !important;
}

.OwO .OwO-body .OwO-items .OwO-item:hover {
    background-color: #5d5d5d !important;
}

.OwO-packages {
    height: 40px;
}
.OwO-packages li {
    height: 40px !important;
    font-size: 18px !important;
    text-align: center !important;
    line-height: 40px !important;
    transition: all 0.2s !important;
    color: #ccc !important;
}
.OwO-package-active {
    background-color: #5d5d5d !important;
}

/* 头像 */
.tk-avatar,
.tk-avatar-img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 12px !important;
    -webkit-user-drag: none;
}

/* 评论标题 */
.tk-comments-title {
    user-select: none !important;
    margin-bottom: 0 !important;
}
/* 评论底部 */
.tk-footer {
    display: none;
}

/* 去除边框 */
.el-input-group__prepend,
.el-input__inner,
.el-textarea__inner {
    border: none !important;
}

/* 昵称、邮箱、网址 */
.el-input-group__prepend {
    background-color: #474747 !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    user-select: none !important;
    padding: 0 12px !important;
    transition: all 0.2s !important;
    height: 36px !important;
}
.el-input-group__prepend:hover {
    background-color: rgb(180, 180, 0) !important;
    color: rgb(88, 88, 88) !important;
}
/* 昵称、邮箱、网址输入框 */
.el-input {
    border-radius: 10px !important;
    background-color: #313131 !important;
    font-size: 16px !important;
    height: 36px !important;
}
.el-input__inner {
    height: 36px !important;
}
/* 评论区 */
.el-textarea__inner {
    resize: none !important;
    font-size: 16px !important;
    background-color: #313131 !important;
    border-radius: 12px !important;
    padding: 10px !important;
    height: 100px !important;
    margin-top: 4px !important;
}

.tk-row-actions-start {
    padding-left: 20px !important;
}
/* 插入表情、图片按钮 */
.OwO-logo,
.tk-action-icon {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    cursor: default !important;
}
.tk-row.actions {
    margin-top: 10px !important;
}
.el-button {
    border: none !important;
    height: 36px !important;
    width: 70px !important;
    border-radius: 10px !important;
    font-size: 14px !important;
    transition: all 0.2s !important;
    color: #fff !important;
    cursor: default !important;
    background-color: #313131 !important;
}

.el-button:hover {
    background-color: rgb(180, 180, 0) !important;
    color: rgb(88, 88, 88) !important;
}
.tk-action-icon.__markdown {
    display: none !important;
}
.tk-preview-container {
    font-size: 16px !important;
    background-color: #313131 !important;
    border-radius: 12px !important;
    padding: 10px !important;
    border: none !important;
    margin-top: -6px !important;
}

/* ——————————————————————评论列表—————————————————————— */
.tk-row {
    font-size: 16px !important;
}
.tk-content span {
    font-size: 14px !important;
}
.tk-content p {
    font-size: 16px !important;
    background-color: #313131 !important;
    border-radius: 12px !important;
    padding: 10px !important;
    margin: 0 !important;
}
.tk-extras {
    font-size: 14px !important;
    user-select: none !important;
}

.tk-action-link {
    cursor: default !important;
}
.tk-action-link .tk-action-icon path {
    fill: rgb(180, 180, 0) !important;
}
.tk-nick {
    color: rgb(180, 180, 0) !important;
}
