.PageTitle-box {
    /* background-color: #fff; */
    width: 1000px;
    margin: 0 auto;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'FiraCode', 'yu400';
    color: #fff;
    user-select: none;
}

@media all and (max-width: 1240px) {
    .PageTitle-box {
        height: 200px;
        font-size: 26px;
        width: 100%;
    }
}
