.Blog-box {
    /* min-height: calc(100vh - 60px - 120px); */
    min-height: calc(100vh - 120px);
    position: relative;
    font-family: 'yu100';
    /* background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.back-top-btn {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn-mobile {
    display: none;
}

@media all and (max-width: 1240px) {
    .BackTop {
        display: none;
    }
    .nav-btn-mobile {
        display: block;
        position: fixed;
        width: 38px;
        height: 38px;
        color: #fff;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 18px;
        user-select: none;
    }
}
