.Blog-box {
    min-height: calc(100vh - 60px - 120px);
    position: relative;
    font-family: 'NSC';
    /* background-color: #000; */
    /* font-family: 'STH'; */
    /* font-weight: 700; */
    /* background-color: rgb(76, 99, 230); */
    background-size: 100% 100%;
    background-attachment: fixed;
}

.back-top-btn {
    height: 50px;
    width: 50px;
    background-color: rgba(35, 35, 36, 0.6);
    border-radius: 14px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
