@import '../../styles/base.scss';

.classBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .classItem {
    width: 49%;
    margin-bottom: $space / 2;
  }

  .classItem:nth-last-child(1),
  .classItem:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1240px) {
  .classBox {
    .classItem {
      width: 100%;
      margin-bottom: 10rem;
    }

    .classItem:nth-last-child(2) {
      margin-bottom: 10rem;
    }
  }
}
