.BlogData-box {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blogData {
    width: 70px;
    height: 56px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    cursor: pointer;
}

.type-name,
.type-num {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-num {
    color: rgb(180, 180, 0);
    transition: all 0.2s;
}

.blogData:hover .type-num {
    color: rgb(88, 88, 88) !important;
}
