.Switch-box {
    height: 36px;
    width: 70px;
    background-color: rgb(85, 84, 84);
    border-radius: 20px;
    position: relative;
}
.Switch-box:hover .switch-btn {
    background-color: rgb(180, 180, 0);
}

.switch-btn {
    height: 36px;
    width: 36px;
    background-color: rgb(143, 141, 141);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

.is-me {
    left: 34px;
}

@media all and (max-width: 1240px) {
    .Switch-box {
        height: 26px;
        width: 50px;
        border-radius: 20px;
    }

    .switch-btn {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        top: 50%;
        left: 0;
    }

    .is-me {
        left: 34px;
    }
    .is-me {
        left: 24px;
    }
}
