@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

$switchWidth: 36px;

.switch {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  margin-bottom: $space;

  .box {
    height: $switchWidth;
    width: $switchWidth * 2;
    border-radius: calc($switchWidth / 2);
    position: relative;
    background-color: $themeColor1;

    .btn {
      height: $switchWidth;
      width: $switchWidth;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-color: $themeColor2;
      @extend .trans;
    }

    .isMe {
      left: $switchWidth;
    }
  }
  .box:hover .btn {
    background-color: $hoverColor;
  }

  .text {
    font-size: 34px;
    font-weight: 700;
    color: $textColor;
  }

  .site {
    @extend .text;
    margin-right: 20px;
  }
  .me {
    @extend .text;
    margin-left: 20px;
  }

  .titleOff {
    color: $switchOff;
  }
}

@media screen and (max-width: 1240px) {
  .switch {
    height: 24rem;
    margin-bottom: 20rem;

    .box {
      height: 24rem;
      width: 24rem * 2;
      border-radius: 24rem / 2;

      .btn {
        height: 24rem;
        width: 24rem;
      }

      .isMe {
        left: 24rem;
      }
    }

    .text {
      font-size: 24rem;
    }

    .site {
      margin-right: 10rem;
    }
    .me {
      margin-left: 10rem;
    }
  }
}
