@import './styles/base.scss';

html,
body,
#root {
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

body {
  /* 隐藏x轴导航条 */
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: $bodyColor;
}
body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 14px;
}
body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 7px;
  background-color: $themeColor2;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: $hoverColor;
}
body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 7px;
  background: rgba(0, 0, 0, 0);
}

div,
input {
  box-sizing: border-box;
}

input,
textarea {
  background: none;
  outline: none;
  border: none;
  border-radius: 0;
}

img {
  -webkit-user-drag: none;
}
