@import './../../styles/base.scss';
@import './../../styles/style.scss';

.mobile-nav-box {
  display: none;

  .ant-drawer-content-wrapper {
    width: 90rem !important;

    .ant-drawer-header-close-only {
      display: none;
    }

    .ant-drawer-content {
      background-color: $themeColor;
      color: $textColor;

      .ant-drawer-body {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .mobile-nav-box {
    display: block;
  }
}
