@import '../../styles/base.scss';
@import '../../styles/style.scss';

.baseBtn {
  height: 44px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 20px;
  border-radius: 14px;
  color: $textColor;
  user-select: none;
  @extend .hover;
}

.hiddenNav {
  top: -$navHeight !important;
  box-shadow: none !important;
}

.nav {
  width: 100%;
  height: $navHeight;
  background-color: $themeColor;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 18px #000;
  @extend .trans;

  .navContent {
    position: relative;
    width: $centerWidth;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .homeAndAdmin {
      @extend .baseBtn;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      font-size: 26px;
      width: 60px;
    }

    .homeBtn {
      @extend .homeAndAdmin;
      cursor: pointer;
      left: 0;
    }

    .adminBtn {
      @extend .homeAndAdmin;
      margin-right: 0;
    }

    .navBtn {
      @extend .baseBtn;
    }
    .navBtn:last-child {
      margin-right: 0;
    }
    .navActive {
      @extend .navBtn;
      background-color: $hoverColor;
    }

    .articlesBtn {
      position: relative;
      @extend .baseBtn;

      .articelsSecond {
        position: absolute;
        z-index: -10;
        top: -130px;
        width: 100%;
        @extend .trans;

        .articelsSecondItem {
          @extend .hover;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          height: 34px;
          margin-top: 6px;
          border-radius: 10px;
          user-select: none;
          background-color: $themeColor;
          color: $textColor;
        }
        .sedActive {
          @extend .articelsSecondItem;
          background-color: $hoverColor;
        }
      }
    }
    .articlesBtn:hover .articelsSecond {
      top: 50px;
    }

    .modeBtn {
      @extend .homeAndAdmin;
      right: 80px;
      margin-right: 0;

      .modeOpions {
        position: absolute;
        left: 50%;
        top: 60px;
        transform: translate(-50%, 0);
        width: 80px;
        // height: 100px;
        background-color: $modeBg;
        border-radius: 14px;
        padding: 10px;
        z-index: -10;

        .modeItem {
          height: 40px;
          background-color: $themeColor;
          margin-bottom: 10px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          @extend .trans;
          color: #fff;
        }
        .modeItem1,
        .modeItem2 {
          color: #000;
        }

        .modeItem:last-child {
          margin-bottom: 0;
        }
        .modeItem:hover {
          transform: scale(1.07);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

// .navBtn:hover,
// .homeBtn:hover,
// .adminBtn:hover,
// .articelsSecondItem:hover {
//   color: $textColor;
// }
