@import './../../styles/base.scss';
@import './../../styles/style.scss';

$rightWidth: 140px;

.displayBar {
  display: flex;
  background-color: $themeColor1;
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 0 20px;
  overflow: hidden;
  font-size: 22px;
  height: 60px;
  user-select: none;
  cursor: pointer;
  @extend .trans;

  .content {
    width: calc(100% - #{$rightWidth});
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .rightContent {
    width: $rightWidth;
    display: flex;
    justify-content: center;
    align-items: center;

    .rightBar {
      padding: 0 8px;
      border-radius: 10px;
      color: $textColor;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      @extend .hover;
    }
  }
}

.displayBar:hover {
  transform: scale(1.02);
}

.displayBar:last-child {
  margin-bottom: 0;
}
