.aside-card {
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #232324;
    overflow: hidden;
    user-select: none;
    transition: all 0.2s;
}
.aside-card:hover {
    transform: scale(1.04);
}

.BlogCard-box {
    height: 200px;
    position: relative;
}

.avatar {
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 200px;
    /* 图片不可拖动 */
    -webkit-user-drag: none;
}

.BlogCard-text {
    margin: 0;
    position: absolute;
    top: 36px;
    left: 20px;
    font-size: 20px;
    line-height: 34px;
}

.blogger-name,
.blog-name {
    color: rgb(180, 180, 0);
    font-weight: 700;
}
