.galleryUl {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 0;
}
.galleryUl li {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin-top: 30px;
    width: 400px;
    height: 300px;
    color: #fff;
    background-size: cover;
    border-radius: 20px;
    user-select: none;
    transition: all 0.2s;
    cursor: pointer;
}

.galleryUl li:hover {
    transform: scale(1.04);
}

.galleryTitleBox {
    box-sizing: content-box;
    position: relative;
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto;
    height: 90px;
    width: 330px;
    transition: all 0.2s;
    z-index: 9;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
}
.galleryUl li:hover .galleryTitleBox {
    border-bottom: 4px solid rgba(255, 255, 255, 1);
}

.galleryTitleBox span {
    position: absolute;
    bottom: 0;
    z-index: 9;
}

.galleryDescr {
    position: absolute;
    z-index: 9;
    left: 40px;
    top: 100px;
    width: 320px;
    font-size: 24px;
    transition: all 0.2s;
    word-wrap: break-word;
    opacity: 0;
}
.galleryUl li:hover .galleryDescr {
    opacity: 1;
}
.galleryMask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
}

.galleryUl li:hover .galleryMask {
    background-color: rgba(0, 0, 0, 0.6);
}

@media all and (max-width: 1240px) {
    .galleryUl li {
        margin-top: 10px;
        width: 144px;
        height: 108px;
        border-radius: 14px;
    }
    .galleryTitleBox {
        height: 40px;
        width: 116px;
        border-bottom: 0 !important;
    }
    .galleryTitleBox span {
        font-size: 14px;
        font-weight: 400;
    }
    .galleryDescr {
        left: 14px;
        top: 44px;
        width: 116px;
        font-size: 12px;
    }
}
